# virtual environments
.cn_venv

# data
.npz

**/__pycache__
**/*.pyc
src/data
src/figures
src/output
src/parameters/*
src/current_run.txt
src/sweep/data
src/sweep/figures
src/sweep/params
src/sweep/params_list.txt
src/sweep/current_run.txt
condor/condor.sub
condor/cn_venv.tar.gz
condor/logs/*
!condor/logs/.gitkeep
*cc.md
**/.DS_Store