# virtual environments
.cn_venv

# data
.npz

**/__pycache__
**/*.pyc
src/data
src/figures
src/output
src/parameters
src/current_run.txt
condor/condor.sub
condor/logs/*
!condor/logs/.gitkeep
*cc.md
**/.DS_Store